<a href="https://colab.research.google.com/github/eduardouliana/beRich/blob/master/notebooks/BeRich_V1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget https://raw.githubusercontent.com/eduardouliana/beRich/master/resources/alldraws.CSV

--2020-11-11 01:42:36--  https://raw.githubusercontent.com/eduardouliana/beRich/master/resources/alldraws.CSV
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 114641 (112K) [text/plain]
Saving to: ‘alldraws.CSV’

alldraws.CSV        100%[===================>] 111.95K  --.-KB/s    in 0.04s

2020-11-11 01:42:37 (2.90 MB/s) - ‘alldraws.CSV’ saved [114641/114641]

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/alldraws.CSV") 

data.head()

   Concurso        Data  bola1  bola2  ...  bola12  bola13  bola14  bola15
0      2078  10/11/2020     13     24  ...       6      12      18      25
1      2077  09/11/2020     24     16  ...       5       3       4      10
2      2076  07/11/2020      3     13  ...      14      18      12      11
3      2075  06/11/2020      2      9  ...      11      12       5       3
4      2074  05/11/2020     15      3  ...      25      18      14      19

[5 rows x 17 columns]

In [ ]:
df = pd.DataFrame(data, columns= ['Concurso', 'Data', 'bola1', 'bola2', 'bola3', 'bola4', 'bola5', 'bola6', 'bola7', 'bola8', 'bola9', 'bola10', 'bola11', 'bola12', 'bola13', 'bola14', 'bola15'])

dups_color = df.pivot_table(index=['Concurso', 'Data'], aggfunc='size')
print (dups_color)

Concurso  Data
1         29/09/2003    1
2         06/10/2003    1
3         13/10/2003    1
4         20/10/2003    1
5         27/10/2003    1
                       ..
2074      05/11/2020    1
2075      06/11/2020    1
2076      07/11/2020    1
2077      09/11/2020    1
2078      10/11/2020    1
Length: 2078, dtype: int64